<html>
    <head>
        <title>Protected Page</title>
    </head>
    <body>
        <h1>Welcome{{user}} to the Protected</h1>
        <button onclick="window.location = 'http://localhost:5000/dropsession'" type="submit">Logout</button>
        </body>
        </html>